{{define "content"}}
<div class="post-form">
    <h2>Create a Post</h2>
    <form>
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="content">Content:</label><br>
        <textarea id="content" name="content"></textarea><br>
        <label for="category">Category:</label><br>
        <select id="category" name="category" required>
            <option value="">Select a category</option>
            <option value="category1">Crypto</option>
            <option value="category2">Gaming</option>
            <option value="category3">Music</option>
            <!-- Add more categories as needed -->
        </select><br>
        <input type="submit" value="Submit">
    </form>
</div>
{{end}}