{{define "content"}}
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form class="logreg-form" role="form" action="/signin" method="POST">
    <h3 class="logreg-heading">Log In</h3>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-apple"></i> Apple</div>
    </div> 
    <div class="logreg-form-group">
      <input type="text" name="login" class="logreg-input" id="login" placeholder="Username" required>
    </div>
    <div class="logreg-form-group">
      <input type="password" name="password" class="logreg-input" id="password" placeholder="Password" required>
    </div>
      <button class="login-btn" type="submit">Lon In</button><br>
      <h5 class="login-helper">
       New to 01Cracker?
      <a href="/register" rel="noopener noreferrer" style="color: #1845ad"> Sign Up</a>
      </h5>
 
  </form>
{{end}}


<!--
  
  

<body>
  <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
  </div>
  <form>
      <h3>Login Here</h3>

      <label for="username">Username</label>
      <input type="text" placeholder="Email or Phone" id="username">

      <label for="password">Password</label>
      <input type="password" placeholder="Password" id="password">

      <button>Log In</button>
      <div class="social">
        <div class="go"><i class="fab fa-google"></i>  Google</div>
        <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
      </div>
  </form>
</body>

-->