<!-- Head Info (Do Not Touch)-->
{{define "content"}}
<head>
    <link rel="stylesheet" href="/static/css/postPage.css">
</head>
<!-- Left Side Container -->
<div class="posts">
   <!-- Assuming you have a variable named 'posts' of type []models.Post in your Go code -->
   <div class="post-display-box">
    <h2>{{ .Post.Title }}</h2>
    <p>{{ .Post.Content }}</p>
    <textarea placeholder="Write a comment..."></textarea>
    <div class="buttons-container">
        <button type="button">Submit Comment</button>
        <div class="like-dislike-buttons">
            <button type="button">Like</button><span> 0</span>
            <button type="button">Dislike</button><span> 0</span>
        </div>
    </div>
</div>
</div>

<!-- Comments -->
<!-- Comments -->
<div class="comments-container">
    <div class="comment">
        <h3>Dummy Author 1</h3>
        <p>Dummy comment 1...</p>
        <div class="like-dislike-buttons">
            <button type="button">Like</button><span> 0</span>
            <button type="button">Dislike</button><span> 0</span>
        </div>
    </div>
    <div class="comment">
        <h3>Dummy Author 2</h3>
        <p>Dummy comment 2...</p>
        <div class="like-dislike-buttons">
            <button type="button">Like</button><span> 0</span>
            <button type="button">Dislike</button><span> 0</span>
        </div>
    </div>
    <!-- Add more dummy comments as needed -->
</div>
</section>

{{end}}
