<!-- Head Info (Do Not Touch)-->
{{define "content"}}

<!-- Left Side Container -->
<div class="posts">
   <!-- Assuming you have a variable named 'posts' of type []models.Post in your Go code -->
   <div class="post-display-box">
    <h2>{{ .Post.Title }}</h2>
    <p>{{ .Post.Content }}</p>
    <textarea placeholder="Write a comment..."></textarea>
    <div class="buttons-container">
        <button type="button">Submit Comment</button>
        <div class="like-dislike-buttons">
            <button type="button">Like</button><span> 0</span>
            <button type="button">Dislike</button><span> 0</span>
        </div>
    </div>
</div>
</div>
</section>

{{end}}
