/* Whole Page */
html {
    font-family: 'IBM Plex Sans', sans-serif; 
}

body{
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 60px;
}

/* Header Content */
.headerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
}
/* Logo Start */
.LogoContainer {
    display: flex;
    align-items: center;
}

.Logo {
    padding-left: 20px;
    padding-top:10px;
}

.LogoText {
    margin-left: 5px;
    padding-top: 10px;
    font-size: 16px; 
    font-weight: 500;
    white-space: nowrap;
}
/* Logo End */

/* Header Buttons Start */
.HeaderButtons {
    justify-content: flex-end;
}

.Dropdown {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.DropdownBtn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.DropdownContent {
    display: none;
    position: absolute;
    text-align: center;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; 
}

.DropdownContent button {
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #f9f9f9;
    color: #333;
    border: none;
    cursor: pointer;
}

.Dropdown:hover .DropdownContent {
    display: block;
}

.headerLink {
    text-decoration: none;
    color: inherit;
}

.LogInButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}
/* Header Buttons End */

.s1 {
    background-color: lightgray;
}


.footerFooter {
    position:fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: center;
}