<!-- Head Info (Do Not Touch)-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Forum</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A Forum made for 01Founders By 01Founders Crack">
        <meta name="robots" content="index, follow">
        <link rel="stylesheet" href="style.css">
    </head>

<!-- Start of Body-->

    <body>
        <!-- Main Page Header -->
        <header class="headerHeader">
            <!-- Header Logo Picture and Text-->
            <div class="LogoContainer">
                <img class="Logo" src="logo.webp" alt="01FC Logo" width="40px" height="40px">
                <p class="LogoText">01Founders Crack</p>
            </div>
            <div class="HeaderButtons">
            <!-- Log In Button -->
            <button class="LogInButton">Log In</button>
            <!-- DropDown Menu-->
            <div class="Dropdown">
                <button class="DropdownBtn">...</button>
                <div class="DropdownContent">
                    <button class="DropdownItem">Log In / Sign Up</button>
                    <button class="DropdownItem">
                        <a class="donateLink" href="https://www.buymeacoffee.com/01founderscrack" target="_blank" style="text-decoration: none; color: inherit;">Donate</a>
                    </button>
                </div>
            </div>
            </div>
        </header>

        <!-- Main Page Content-->
        <section class="s1">
            <p>yo again</p>
        </section>
    </body>
</html>