{{define "header"}}
    <!-- Main Page Header -->
    <header class="headerHeader">
        <!-- Header Logo Picture and Text-->
        <div class="LogoContainer">
            <img class="Logo" src="/static/img/logo.webp" alt="01FC Logo" width="40px" height="40px">
            <p class="LogoText">01Founders Crack</p>
        </div>
        <div class="HeaderButtons">
        <!-- Log In Button -->
        <a class="headerLink" href="/login" target="_blank">
            <button class="LogInButton">Log In</button>
        </a>
        <!-- DropDown Menu-->
        <div class="Dropdown">
            <button class="DropdownBtn">...</button>
            <div class="DropdownContent">
                <a class="headerLink" href="/login" target="_blank">
                    <button class="DropdownItem">Log In / Sign Up</button>
                </a>
                <a class="headerLink" href="https://www.buymeacoffee.com/01founderscrack" target="_blank">
                    <button class="DropdownItem">Donate</button>
                </a>
                <a class="headerLink" href="https://github.com/01founders-crack" target="_blank">
                    <button class="DropdownItem">Github</button>
                </a>
            </div>
        </div>
        </div>
    </header>
    {{end}}
