{{define "header"}}
    <!-- Main Page Header -->
    <header>
        <!--Logo-->
        <!-- Brandname will merge with logo later as brandname will be in logo-->
        <div class="Logo">
            <img src="static/img/01FCLogo.ico" alt="Seyit Logo" height="70" width="70">
        </div>
        <div class="BrandName">
            <h1>Seyit</h1>
        </div>
        <!-- End of changes for later-->
        <!-- Dropdown Button -->
        {{if .SessionData.authenticated}}
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleDropdown()">{{.SessionData.username}}</button> 
                <div id="dropdown-content" class="dropdown-content">
                    <!-- User is authenticated --> 
                    <a href="#">Profile</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
        {{else}}
            <div class="dropdown">
                <a href="/login"><button class="dropbtn">Login</button></a>
            </div>
        {{end}}
    </header>
    <script src="/static/js/dropDown.js"></script>
{{end}}
